@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
  ::-webkit-scrollbar { width: 10px };
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  };
  ::-webkit-scrollbar-thumb {
    background: #858585;
  };
  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  };
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
